@{
    ViewData["Title"] = "Library Bazzar";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    </div>
    
    <p>This is a haven for booklovers. Buy any book you want and you can use all types of payment method as well including but not limited to visa and mastercard all here in our exclusive estore Library Bazzar Check our book and be ready to be amazed by our collection.</p>
    <p> You want to add your items to cart so that you dont froget them we got it you want to leave a review about a particular book you got that too just visit our store once and we assure you you will visit it again </p>
    <footer>You have some complaints you can reach out to us through our contact page. 😄</footer>
